<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label "Date and Time" %>
    <% event_date = Time.now %>
    <%= form.datetime_select :event_date, id: :event_event_date, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :event_duration %>
    <%= form.time_select :event_duration, id: :event_event_duration, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :band_id %>
    <%= form.collection_select :band_id, Band.order(:name),:id,:name, include_blank: true, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :type_id %>
    <%= form.collection_select :type_id, Type.order(:name),:id,:name, include_blank: true, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :venue_id %>
    <%= form.collection_select :venue_id, Venue.order(:name),:id,:name, include_blank: true, class: "form-control"  %>
  </div>

  <div class="field form-group">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, City.order(:name),:id,:name, include_blank: true, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success mt-3 mb-3" %>
  </div>
<% end %>
