<% if logged_in? %>

<h1>Events</h1>

<div class="col-md-12 offset-md-0">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Event date and time</th>
        <th>Event duration</th>
        <th>Band</th>
        <th>Type</th>
        <th>Venue</th>
        <th>City</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.description %></td>
          <td><%= event.event_date.to_s(:db) %></td>
          <td><%= event.event_duration.to_s(:time) %></td>
          <td><%= event.band.name %></td>
          <td><%= event.type.name %></td>
          <td><%= event.venue.name %></td>
          <td><%= event.city.name %></td>
          <td><%= link_to 'Show', event, class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
</div>

<% else %>
  <% controller.redirect_to '/' %>
<% end %>

