<% if logged_in? %>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@venue.description)%>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<%= Rails.application.credentials.google_maps_api_key %>

<% if false %>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?
zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@venue.latitude},#{@venue.longitude}
&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Mapa" %>
<% end %>

<div id="gmap1" data-lat="<%= @venue.latitude %>" data-lng="<%= @venue.longitude %>"></div>

<p>
  <strong>City:</strong>
  <%= @venue.city_name %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue), class: 'btn btn-primary' %> |
<%= link_to 'Back', venues_path, class: 'btn btn-primary' %>

<% else %>
  <% controller.redirect_to '/' %>
<% end %>

    
<script src="https://maps.googleapis.com/maps/api/js
?key=<%= Rails.application.credentials.google_maps_api_key %>"></script>

