<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@venue.latitude%>, <%=@venue.longitude%>)
    });
  </script>
<% end %>


<% if logged_in? %>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@venue.description)%>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city_name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @venue.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @venue.longitude %>
</p>

<div id="map"></div>

<%= link_to 'Edit', edit_venue_path(@venue), class: 'btn btn-primary mt-3 mr-3' %>
<%= link_to 'Back', venues_path, class: 'btn btn-primary mt-3' %>

<% else %>
  <% controller.redirect_to '/' %>
<% end %>

    


