<% if logged_in? %>

<h1>Bands</h1>

<div class="col-md-10 offset-md-1">
  <div class="table-responsive">
    <table class="table table-hover table-responsive">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Artistic director</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @bands.each do |band| %>
          <tr>
            <td><%= band.name %></td>
            <td><%= sanitize(band.description).truncate(120).html_safe if band.description%></td>
            <td><%= band.artistic_director %></td>
            <td><%= link_to 'Show', band, class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= link_to 'Edit', edit_band_path(band), class: "btn btn-outline-primary btn-sm" %></td>
            <% if band.has_no_restrict_dependent? %>
              <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
            <% else %>
              <td><%= link_to 'Destroy', band, class: "btn btn-outline-danger btn-sm disabled" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <%= link_to 'New Band', new_band_path, class: "btn btn-primary" %>
</div>

<% else %>
  <% controller.redirect_to '/' %>
<% end %>
